.top-links {
    display: flex;
    justify-content: space-evenly;
    padding-left: 5rem;
    padding-right: 5rem;
}

.top-links a {
    color: #1f2428;
    transition: .3s;
}

.top-links a:hover {
    color: lightgray;
    text-decoration: none;
}

.main-image-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-image-container img {
    display: flex;
    align-items: center;
    border-radius: .4rem;
    box-shadow: 0 0 4rem 0.5rem rgba(0,0,0,.1);
}

.main-titles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-titles-container h1 {
    font-weight: bold;
}

.main-titles-container, .main-image-container {
    padding-left: 5rem;
    padding-right: 5rem;
}

@media (max-width: 992px) {
    .main-titles-container, .main-image-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .main-titles-container h1 {
        font-size: 1.8rem;
    }

    .main-titles-container h3 {
        font-size: 1.4rem;
    }

    .top-links {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width: 400px) {
    .top-links a {
        font-size: .8rem;
    }
}

@media (max-width: 844px) {
    .main-image-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 350px) {
    .main-titles-container h1 {
        font-size: 1.3rem;
    }

    .main-titles-container h3 {
        font-size: 1.1rem;
    }

    .top-links {
        padding: 0;
    }
}

.hidden {
    display: none !important;
}

.form-element {
    display: flex;
    width: 100%;
    padding: .5rem;
    border-radius: .4rem;
    border: 1px solid black;
}

.button-element {
    display: flex;
    padding: .3rem .5rem;
    border-radius: .4rem;
    border: 1px solid black;
}

.big-divider {
    background-color: black;
    height: .3rem;
    background-clip: content-box;
}

.scrolling-resumes-container {
    overflow-x: auto;
    flex-wrap: nowrap;
    height: 90%;
    padding-top: 25vh;
    -webkit-overflow-scrolling: touch;
}
